name: Quality - GitHub Actions Security Analysis

on:
  push:
    #branches: [ "main" ]
    branches: [ "zizmor" ]
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'
  pull_request:
    paths:
      - '.github/workflows/**'
      - '.github/actions/**'
  workflow_dispatch:

permissions: {}

jobs:
  quality-zizmor:
    name: Quality - zizmor scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Run zizmor
        uses: zizmorcore/zizmor-action@0dce2577a4760a2749d8cfb7a84b7d5585ebcb7d # v0.5.0
